@layout('layouts/main')

@section('title')
Coronavirus cases
@endsection

@section('content')
<h1>COVID-19 datasets</h1>

<div class="list-group">
  @each(location in locationList)
    <a class="list-group-item stretched-link" href="{{{location.url}}}">{{location.name}}</a>
  @endeach
</div>
@endsection
