<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>COVID-19 cases</title>
  {{ style('style') }}
</head>
<body>
  <p><a href="/charts/United-Kingdom">United Kingdom</a></p>
</body>
</html>
