@layout('layouts/main')

@section('content')
<h1>{{title}}</h1>

<script>
window.backendData = {
  region: {{{toJSON(region)}}},
  regionData: {{{toJSON(regionData,false)}}},
};
</script>

<figure class="highcharts-figure">
  <div id="container"></div>
  <p class="highcharts-description">

  </p>
</figure>

@endsection
