<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    @section('title')
      {{title}}
    @endsection
  </title>
  @if(description)
    <meta name="description" content="{{description}}"/>
  @endif

  @if(NODE_ENV === 'production')
    <script src="https://browser.sentry-cdn.com/5.17.0/bundle.min.js" integrity="sha384-lowBFC6YTkvMIWPORr7+TERnCkZdo5ab00oH5NkFLeQUAmBTLGwJpFjF6djuxJ/5" crossorigin="anonymous">
    </script>
    <script>
      Sentry.init({ dsn: 'https://4175d6bbae4547148c9757d98a96e70e@o409305.ingest.sentry.io/5281498', release: 'corona-cases.org{{'@' + SOURCE_VERSION}}' });
    </script>
  @endif

  {{style('style')}}

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="/assets/application.js"></script>

  <script id="payload" data-payload="{{toJSON(payload, false)}}"></script>

  @if(NODE_ENV === 'production')
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168696085-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168696085-1');
    </script>
  @endif

  @!section('head')
</head>
<body>
  @section('navbar')
    {{-- Spacer when there's no navbar (like on the home page) --}}
    <div style="height: 10px;"></div>
  @endsection

  <div class="container-fluid">
    <div class="social-buttons">
      <div class="social-button">
        {{-- https://developers.facebook.com/docs/plugins/share-button/ --}}
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="0bRCB9yj"></script>
        <div class="fb-share-button" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
      </div>

      <div class="social-button">
        {{-- https://publish.twitter.com/?buttonLarge=on&buttonType=TweetButton&widget=Button --}}
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    @!section('content')
  </div>
</body>

<script>
  !(function (e) {
    console.log('exports', typeof exports)
    console.log('module', typeof module)
    console.log('define', typeof define)
    console.log('this', (e.constructor.name))
  })(this)
</script>
</html>
